img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  
  }
  figcaption{
    font-size: 12px;
  }
  i {
    margin: 16px 0;
  }
  ul {
    text-align: left;
    line-height: 1.6;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
  }